.profile {
  height: 100vh;
  background-color: #f2f2f2;
  display: grid;
  grid-template-areas:
    'navigation header'
    'navigation profile-content';
  grid-template-rows: 96px 1fr;
  grid-template-columns: 226px 1fr;
}
