@font-face {
  font-family: 'Poppins';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Poppins/Poppins-Regular.ttf") format("ttf");
}

@font-face {
  font-family: 'Poppins';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("./Poppins/Poppins-Medium.ttf") format("ttf");
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("./Roboto_Condensed/RobotoCondensed-Bold.ttf") format("ttf");
}

@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("./Roboto/Roboto-Medium.ttf") format("ttf");
}

@font-face {
  font-family: 'Titillium Web';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Titillium_Web/TitilliumWeb-Regular.ttf") format("ttf");
}