.header {
  max-width: 1694px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 96px;
  background-color: #fff;
  padding-left: 23px;
  padding-right: 29px;
  grid-area: header;
}

.search {
  position: relative;
}

.search__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 21px;
  font-size: 26px;
  z-index: 2;
}

.search__input {
  box-sizing: border-box;
  width: 522px;
  height: 50px;
  padding-left: 51px;
  padding-right: 20px;
  opacity: 0.5;
  border: none;
  border-radius: 6px;
  background-color: #f2f2f2;
  font: 500 15px/23.44px 'Roboto', sans-serif;
}
